<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" [formGroup]="signUpForm" (ngSubmit) = "onSubmit()">
              <div class="form-group">
                <input type="text" id="inputFname" class="form-control" placeholder="FirstName" formControlName="firstName" required>
                <span class="help-block" *ngIf="!f.firstName.valid && f.firstName.touched">Please enter first name</span>
              </div>
              <div class="form-group">
                <input type="text" id="inputLname" class="form-control" placeholder="LastName" formControlName="lastName" required>
                <span class="help-block" *ngIf="!f.lastName.valid && f.lastName.touched">Please enter last name</span>
              </div>
              <div class="input-group mb-3">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" aria-describedby="basic-addon2" formControlName="email" required email>
                <span class="help-block" *ngIf="!f.email.valid && f.email.touched">Please enter valid email</span>
                <div class="input-group-append">
                    <button class="btn btn-secondary custom-btn" type="button">Request OTP</button>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" id="otpNum" class="form-control" placeholder="OTP" formControlName="otpNum" required>
                <span class="help-block" *ngIf="!f.otpNum.valid && f.otpNum.touched">Please enter OTP</span>
                <div class="input-group-append">
                    <button class="btn btn-secondary custom-btn" type="button">Verify OTP</button>
                </div>
              </div>
              <div class="form-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
                <span class="help-block" *ngIf="!f.password.valid && f.password.touched">Please enter Password</span>
              </div>
              <div class="form-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="help-block">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                    <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!signUpForm.valid">Register</button>
              <a class="d-block text-center mt-2 small" routerLink="">Sign In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>